<style> 
#content { background-image: url(fall.jpg); 
background-repeat: no-repeat; 
margin-left: auto; 
margin-right: auto; 
width:800px; 
height: 520px;
padding-top: 20px;        
}
        
h1 {background-color: #FFFFFF;  
opacity: 0.6; 
filter: alpha(opacity=60); 
font-size: 4em; 
padding: 10px;
}
</style>
     
    
    
    

